@page
@model O2NextGen.Auth.Web.Pages.AccessDenied

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Access Denied!!!s</h1>
</div>
</body>
</html>