@model PFRCentr.App.MvcClient.Models.Dto.CertificateDto
<form asp-action="DeleteCertificate">
    <input asp-for="Id" hidden/>
    <br/>
    <div class="container border p-3">
        <h1 class="text-primary">Detele Category</h1>
        <hr/>
        <div class="row">
            <div class="col-2">
                <label asp-for="CreatorId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CreatorId" class="form-control"/>
     
            </div>

            <div class="col-2">
                <label asp-for="CategoryId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CategoryId" class="form-control"/>
            </div>

            <div class="col-2">
                <label asp-for="ExternalId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ExternalId" class="form-control"/>
            </div>

            <div class="col-2">
                <label asp-for="ExpiredDate" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ExpiredDate" class="form-control"/>
            </div>

            <div class="col-2">
                <label asp-for="CustomerId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CustomerId" class="form-control"/>
            </div>

            <div class="col-5 offset-2">

                <a asp-action="CertificateIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control"/>

            </div>
        </div>

        <hr/>
    </div>
</form>