<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>O2 Bionics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="open">
        <div class="layer">
            <div class="full-logo">
                <img src="logo.png" class="img-logo" width="40%">
                <span class="logo-text">O2 BIONICS</span>
            </div>

        </div>
        <div class="layer"></div>

    </div>
   
    <section>
            <div class="header">
                    <div class="logo">
                        <img src="logo.png" class="img-logo" width="7%">
                        <span class="logo-text">O2 BIONICS</span>
                    </div>
        
                    <i class="fa fa-bars x2" onclick="menuToggle()"></i>
                    <ul id="navigation">
                        <li>
                            <a href="#" class="active">Главная</a>
                        </li>
        
                        <li>
                            <a href="#">Услуги</a>
                        </li>
                        <li>
                            <a href="#">Продукты</a>
                        </li>
                        <li>
                            <a href="#">Клиентам</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                        <li>
                            <a href="#">Вакансии</a>
                        </li>
                        <i class="fa fa-times x2" onclick="menuToggle()"></i>
                    </ul>
        
                </div>
        <div class="bannerText">
            <h2>Креативный подход</h2>
            <h3>Мы синтезируем дизайн и новые технологии
                </h3>
            <p>Мы быстро развивающаяся компания, которая предлагает широкий спектр услуг. От разработки специфического программного обеспечения, до небольших сайтов. Также мы предоставляем услуги SEO продвижения. В нашем штате имеются сертифицированные специалисты по  контекстной рекламы Google Adwords, Яндекс Директ.</p>
            <a href="#" class="read-more">Читать больше</a>
        </div>
        <img src="bulb.png" class="bulb">
        <ul class="sci">
            <li><a href="https://vk.com/public181997456"><i class="fa fa-vk"></i></a></li>
            <li><a href="https://www.facebook.com/o2bionics/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/BionicsO2"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/o2bionics/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCcimVtTZZhlEP78qv4l896A"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <div class="element1"></div>
        <div class="element2"></div>
        <div class="element3"></div>
        <div class="element4"></div>
        <div class="element5"></div>

       
        <div class="copyright">2020 <i class="fa fa-copyright"></i> Все права защищены.
            O2 Bionics LLC. Разработка и продвижение веб-сайтов</div>
    </section>
    
    <script type="text/javascript">
        function menuToggle() {
            var element = document.getElementById("navigation");
            element.classList.toggle("show");
        }
    </script>


    <!-- Javascript -->
    <script src="js/plugins.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
        !function (a, b, c, d, e, f) {
        a[d] = a[d] || function () { (a[d].p = a[d].p || []).push(arguments[0]) }, e = b.createElement("script"), e.async = 1,
            e.type = "text/javascript", e.id = "com-o2bionics-webchat-script", e.src = c, f = b.getElementsByTagName("script")[0], f.parentNode.insertBefore(e, f)
        }(window, document,
            "https://c.chat.o2bionics.com//bootchat.js", "O2WebChat");
        O2WebChat({ cid: 1 });
    </script>
</body>

</html>