@model CertificateViewModel

<form asp-controller="Certificates" asp-action="Edit" asp-route-id="@Model.Id">
    <label asp-for="Name">Name</label>
    <input asp-for="Name"/>
    <button type="submit">Save</button>
</form>
